* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.headerContainer h1 {
    text-align: center;
    margin-bottom: 10px;
}

.headerContainer>p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.headerContainer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer input {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border: 1px solid gray;
    padding: 5px;
    background-color: white;
    width: 40%;
}

@media (max-width:580px) {
    .headerContainer>div {
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
    }
    .headerContainer input {
        width: 100%;
    }
}